@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'ArgentPixelCF';
	src: url('/fonts/ArgentPixelCF-Regular.otf') format('opentype');
}

body {
	background-color: black;
	color: white;
	font-family: 'ArgentPixelCF', sans-serif;
}

#loading {
	transition: opacity 0.5s ease-in-out;
	opacity: 1;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
body.loaded #loading {
	opacity: 0;
}

#content {
	transition: opacity 0.5s ease-in-out 0.4s;
	opacity: 0;
}
body.loaded #content {
	opacity: 1;
}

#background {
	background-image: url('/images/bg.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#logo {
	background-image: url('/images/bg-logo.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	opacity: 0.2;
	mix-blend-mode: lighten;
	transition: opacity 3s ease-in-out;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
body.hide-logo #logo {
	animation: none;
	opacity: 0;
}

/* Portrait */
@media (orientation: portrait) {
	#gradient {
		background-image: url('/images/bg-gradient-portrait.png');
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.1;
		mix-blend-mode: difference;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

/* Landscape */
@media (orientation: landscape) {
	#gradient {
		background-image: url('/images/bg-gradient-square.png');
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.1;
		mix-blend-mode: difference;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

@keyframes fade {
  0% { opacity: 0.2; }
  100% { opacity: 0; }
}

@keyframes scroll-down-fade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.scroll-down-hidden {
	animation: none;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

a {
	text-decoration: underline;
}

#darken {
	background-color: black;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
#darken.darken-visible {
	opacity: 0.7;
}